

.wireframe {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 3496px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.wireframe .rectangle {
  background-color    : rgba(241, 241, 241, 1.0);
  top                 : 1454px;
  height              : 856px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1518px;
  height              : 278px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .divider1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 2px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .divider1 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2px;
  width               : 100px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .title5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .title5 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 300px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .title21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 22px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .title21 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 260px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 143px;
  height              : 135px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 15px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 .rectangle25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 15px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 15px;
  width               : 770px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group .group22 .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 15px;
  width               : 570px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1857px;
  height              : 367px;
  width               : 563px;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 367px;
  width               : 563px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 368px;
  width               : 563px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image .imageplaceholder .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 367px;
  width               : 563px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image .imageplaceholder .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 324px;
  width               : 563px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1035px;
  height              : 135px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 15px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 .rectangle25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 15px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 15px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group2 .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 15px;
  width               : 273px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 828px;
  height              : 626px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1393px;
  height              : 15px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 688px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination .selecteddot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination .selecteddot .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.wireframe .pagination .elementpaginationnotselected1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination .elementpaginationnotselected1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination .elementpaginationnotselected1 .notselecteddot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .pagination .elementpaginationnotselected1 .notselecteddot .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.wireframe .divider {
  background-color    : rgba(255,255,255,0.0);
  top                 : 999px;
  height              : 2px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 670px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .divider .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2px;
  width               : 100px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 892px;
  height              : 30px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 300px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 935px;
  height              : 22px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 590px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title2 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 260px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1047px;
  height              : 261px;
  width               : 769px;
  position            : absolute;
  margin              : 0;
  left                : 336px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title5 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 300px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 27px;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title11 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 234px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 72px;
  height              : 27px;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group5 .title21 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 334px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 67px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group51 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 13px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group51 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 13px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group51 .rectangle25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 13px;
  width               : 274px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .image2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 258px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .image2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 258px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .image2 .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 259px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .image2 .imageplaceholder .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 258px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .image2 .imageplaceholder .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 215px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : 46px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group22 .rectangle25 {
  background-color    : rgba(123, 123, 123, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group22 .title5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 22px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group8 .group22 .title5 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 260px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2513px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group7 .rectangle6 {
  background-color    : rgba(241, 241, 241, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group7 .mapplaceholder836efba1 {
  background-color    : rgba(241, 241, 241, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.21;
}
.wireframe .group7 .mapplaceholder836efba1 .mask1 {
  background-color    : rgba(241, 241, 241, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group7 .mapplaceholder836efba1 .mapplaceholder836efba11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 868px;
  width               : 2082px;
  position            : absolute;
  margin              : 0;
  left                : -221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group7 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 667px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 30px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.29;
}
.wireframe .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2815px;
  height              : 60px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 683px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2310px;
  height              : 203px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 760px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 760px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image1 .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 762px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image1 .imageplaceholder .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 760px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .image1 .imageplaceholder .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 718px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle2 {
  background-color    : rgba(45, 45, 45, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 31px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 134px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 15px;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 835px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 318px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group3 .rectangle51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .dot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3479px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 317px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .dot .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 5px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .dot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4171px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 317px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .dot1 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 5px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3281px;
  height              : 219px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3180px;
  height              : 102px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3220px;
  height              : 20px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title1 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 327px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3220px;
  height              : 20px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 978px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title3 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 327px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3320px;
  height              : 20px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .title4 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 327px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3375px;
  height              : 2px;
  width               : 1170px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3304px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 1112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3304px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 1042px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3304px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 972px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .rectangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3304px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .buttonmedium {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3304px;
  height              : 48px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 1182px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .buttonmedium .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .buttonmedium .rectangle25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .buttonmedium .title5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 20px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .buttonmedium .title5 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 70px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3410px;
  height              : 20px;
  width               : 722px;
  position            : absolute;
  margin              : 0;
  left                : 359px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title5 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 117px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title11 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 117px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 304px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title21 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 117px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 288px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical1 .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 436px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical2 .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 588px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical3 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .elementdividervertical3 .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 454px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title31 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 117px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 117px;
  position            : absolute;
  margin              : 0;
  left                : 605px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .group4 .title41 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 117px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .elementpaginationnotselected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1393px;
  height              : 15px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 737px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .elementpaginationnotselected .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .elementpaginationnotselected .notselecteddot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.wireframe .elementpaginationnotselected .notselecteddot .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 14px;
  width               : 14px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}