


body {
	margin: 0; 
	background: white;
}

section{

}

h1{

}

h2{

}

.navbarLogo{

}

.navbar-text{

}

.navbar-text:hover{

}

.banner{

}



.nounderline {
	text-decoration: none !important
  }

  a:active{

  }

  a{

  }


  /* ========= Footer ========*/

  footer{
	  background-color: #2D2D2D;
	  color: white;
  }

  .separatorFooter{
	  margin: auto;
	  width: 75%;
	  height: 2px;
	  background-color: gray;
	  margin-top: 15px;
	  margin-bottom: 15px;
  }
