


body {
	margin: 0; 
	background: white;
}

section{

}

h1{

}

h2{

}

.navbarLogo{

}

.navbar-text{

}

.navbar-text:hover{

}

.banner{

}



.nounderline {
	text-decoration: none !important
  }

  a:active{

  }

  a{

  }


  /* ========= Footer ========*/

  footer{
	  background-color: #2D2D2D;
	  color: white;
	  padding: 1em 0 3em 0; 
  }

  .footerSeparator{
	  margin: auto;
	  margin-top: 1me;
	  margin-bottom: 1em;
	  width: 90%;
	  height: 2px;
	  background-color: gray;
	  margin-top: 15px;
	  margin-bottom: 15px;
  }

  .footerShape {
	/*background-image: url("./img/footerShape.png"); */
	height              : 48px;
	width               : 48px;
  }

  .footerRectangle {
	background-image: url("./img/footerLongShape.png");
	height              : 15px;
	width               : 770px;
  }
  
  .footerSeparatorText{
	height: 20px;
	width : 2px;
	background-color: grey;
  }

  